
  body{
    margin: 0;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    background-image: url(/assets/pictures/1.1.jpeg);
    }
    ul{
      list-style-type: none;
  }
nav {
    overflow: hidden;
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-size: 5px;
    margin: 0px;
    position: fixed;
    z-index: 10;
    width: 100%;
}
  nav a {
    font-family: 'Raleway', sans-serif;
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
  }
  nav:hover{
    color: blue;
  }
#homepage{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  html body{
    scroll-behavior: smooth;
  }
.section{
  position: relative;
  background-color:rgb(51, 51, 121);
  background-position: right top;
  background-attachment: fixed;}
.background{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
}
  

/* position: relative;
    
    background-image:linear-gradient(
        #09305457,
        #09305457
      ), url('https://static.wixstatic.com/media/5bfb6f_a463284fd84145f292a32dc0f0e0cc31.jpg/v1/fill/w_1519,h_801,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/5bfb6f_a463284fd84145f292a32dc0f0e0cc31.jpg%22%27');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 750px;
    background-origin: border-box; */
/* .section1{
  background-image:linear-gradient(
      #09305457,
      #09305457
    ), url('https://static.wixstatic.com/media/5bfb6f_a463284fd84145f292a32dc0f0e0cc31.jpg/v1/fill/w_1519,h_801,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/5bfb6f_a463284fd84145f292a32dc0f0e0cc31.jpg%22%27');
}
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 750px;
  background-origin: border-box; */
  /* text-align: justify;
  background-image:url('https://static.wixstatic.com/media/5bfb6f_a463284fd84145f292a32dc0f0e0cc31.jpg/v1/fill/w_1519,h_801,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/5bfb6f_a463284fd84145f292a32dc0f0e0cc31.jpg%22%27');
  background-size:contain;
  background-attachment: fixed;
    height: 700px;
    background-origin: border-box; */



